@import url('./xy-theme.css');
 
html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
 
#app {
  width: 100vw;
  height: 100vh;
}

.context-menu {
  background: white;
  border-style: solid;
  box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
  position: absolute;
  z-index: 10;
}

.context-submenu {
  position: absolute;
  left: calc(100% - 1px);  /* Subtract the border width */
  top: -1px;  /* Align with parent accounting for border */
  background: white;
  border: 1px solid #ccc;  /* Match parent border */
  box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
  min-width: 100px;
}

.context-menu-item {
  padding: 0.5em;
  cursor: pointer;
  user-select: none;
}

.context-menu-item:hover {
  background: #f0f0f0;
}


.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
    /* stroke: var(--xy-theme-edge-hover); */
    stroke: #FFF;
    stroke-width: 7px;
    cursor: pointer;
}

.react-flow__edge-path {
    stroke: #555; /* This sets the default color for all edges */
}

/* This sets the color for selected edges */
.react-flow__edge.selected .react-flow__edge-path {
    stroke: var(--xy-theme-selected);
}

/* This sets the color for connected edges */
.react-flow__edge .react-flow__edge-path {
    stroke: #33FF71; /* You can change this color to whatever you want */
    stroke-width: 3px; /* Optional: you can also adjust the width */
}
